p [required] {
  border: 2px solid tomato;
}

[href="#contato"] {
  border: 2px solid yellowgreen;
}

[href^="#"] {
  /* começa com */
  background: tomato;
}

[href$="origamid.com"] {
  border: 2px solid gold;
}

section > h2 {
  color: tomato;
}

article {
  background-color: lightgreen;
  padding: 10px;
}

p + p {
  margin-top: 20px;
}
